.btn {
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.btn:not(:last-child) {
  margin-right: 30px;
}
.btn:hover {
  background-color: burlywood;
  box-shadow: 10px 5px 5px chocolate;
}
